# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Видеофайлы
*.mp4
*.mov
*.avi
*.mkv

# Датасет: только изображения исключены (~340MB), разметка и мета-файлы включены
Vehicle-Detection/Dataset/images/
Vehicle-Detection/Dataset/labels/*.cache
Vehicle-Detection/Dataset/labels/*.npy

# Временные файлы
*.log
*.tmp
.DS_Store
